<!DOCTYPE html>
<html>
<head>
	<title>Registery</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="val.js"></script>
</head>
<body>
	<form id="regForm" method="post">
		<label>Full Name: <p id="errName"></p></label>
		<input type="text" id="name" name="name" onblur="valName()">
		<label>Email: <p id="errEmail"></p></label>
		<input type="text" id="email" name="email" onblur="valEmail()">
		<label>Password: <p id="errPass"></p></label>
		<input type="password" name="password">
		<input type="submit" name="submit">
	</form>
</body>
</html>