<!DOCTYPE html>
<html>
<head>
	<title>Verify your email address</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="val.js"></script>
</head>
<body>
	<h3>Verify your Weather Updater email address</h3>
	<form id="regForm" method="post" action="/verify">
		Verify your email with the 5-digit, security code: <input type="text" name="code">
		<input type="submit" name="Authenticate">
	</form>
</body>
</html>